{% extends 'base.html.j2' %}
{% block title %}{{ publisher.name }} | Data Registry{% endblock %}
{% block main_content %}

<!-- {% include '_parts/_structured_data.html' %} -->


<div class="base-section">
  <hgroup class="header-group">
    <h3 class="header-group__brow">360Giving files published by</h3>
    <div class="grid grid--four-columns">
      <h2 class="header-group__title grid__3">{{ publisher.name }}</h2>
      {% if publisher.logo %}
      <div class="grid__1">
        <a href="{{ publisher.website }}" target="_blank">
          <img src="{{ publisher.logo }}" alt="{{ publisher.name }}">
        </a>
      </div>
      {% endif %}
    </div>
  </hgroup>
  <a href="http://grantnav.threesixtygiving.org/publisher/{{ publisher.prefix }}">
    View this publisher on GrantNav
  </a>
</div>

<div class="grid grid--four-columns">

  <div class="grid__1">
    <div class="base-card base-card--orange">
      <div class="base-card__content">
        <h2 class="base-card__title">{{ files|length }}</h2>
        <p class="base-card__text">File{% if files|length != 1 %}s{% endif %}</p>
      </div>
    </div>
  </div>

  <div class="grid__1">
    <div class="base-card base-card--red">
      <div class="base-card__content">
        <h2 class="base-card__title">{{ "{:,.0f}".format(publisher.records) }}</h2>
        <p class="base-card__text">Records</p>
      </div>
    </div>
  </div>

</div>

<div class="spacer-5"></div>


<ul class="card-list">
  {% for grant in files %}
    <li class="card-list__item" id="{{ publisher.prefix }}">
      <article class="registry-card">
        <div class="registry-card__content">
          <h2 class="h2">{{ grant.file.title }}</h2>
          <a href="{{grant.file.accessURL}}">Information about this file</a>
          
          <ul class="registry-card__list">

            <li class="registry-card__item ">
              <table class="registry-grant">

                  <tr class="registry-grant__line registry-grant--amounts-line">
                    <td class="registry-grant__pub-date">
                      {% if grant.period.first_date %}
                      Grants from {{ grant.period.first_date }}
                      {% if grant.period.first_date != grant.period.latest_date %}
                      to {{ grant.period.latest_date }}
                      {% endif %}
                      {% endif %}
                    </td>
                    <td class="registry-grant__records">
                      {% if grant.records %}
                      Records
                      <span class="registry-grant__grant-n">{{grant.records}}</span>
                      {% endif %}
                    </td>
                    <td class="registry-grant__amount">
                      {% for value in grant['total_value']%}
                        {% set value_split = value.split(" ", maxsplit=1) %}
                        {% if loop.index0==0 and loop.length > 1 %}
                        <div>Total grants</div>
                        {% endif %}
                        <div>
                          {% if loop.length == 1 %}
                          Total grants
                          {% endif %}
                          {{value_split[0] | safe}}
                          <span class="registry-grant__amount-n">{{ value_split[1] | safe }}</span>
                        </div>
                      {% endfor %}
                    </td>
                  </tr>
                  <tr class="registry-grant__line registry-grant--data-line">
                    <td class="registry-grant__download">
                      {% if grant.file.type.lower() == 'excel' %}
                      <a class="registry-grant__file registry-grant--xls"  href="{{grant.file.url}}" download title="Excel Spreadsheet - {{grant.file.size}}">XLSX - {{grant.file.size}}</a>
                      {% elif grant.file.type.lower() == 'csv' %}
                      <a class="registry-grant__file registry-grant--csv"  href="{{grant.file.url}}" download title="JSON - {{grant.file.size}}">CSV - {{grant.file.size}}</a>
                      {% elif grant.file.type.lower() == 'json' %}
                      <a class="registry-grant__file registry-grant--json" href="{{grant.file.url}}" download title="Comma Separated Values - {{grant.file.size}}">JSON - {{grant.file.size}}</a>
                      {% elif grant.file.type.lower() == 'ods' %}
                      <a class="registry-grant__file registry-grant--ods"  href="{{grant.file.url}}" download title="Open Document Spreadsheet - {{grant.file.size}}">ODS - {{grant.file.size}}</a>
                      {% else %}
                      <a class="registry-grant__file"  href="{{grant.file.url}}" download title="Download">Download</a>
                      {% endif %}
                    </td>
                    {% if grant.valid %}
                    <td class="registry-grant__validation registry-grant--validated">
                      Valid data
                      <i class="material-icons">
                        {# <a href="https://dataquality.threesixtygiving.org/?source_url={{ grant.file.url | urlencode }}" 
                           target="_blank"
                           title="View this file on the data quality tool"> #}
                          check_circle_outline
                        {# </a> #}
                      </i>
                    </td>
                    {% else %}
                    <td class="registry-grant__validation registry-grant--invalid">
                      Invalid data
                      <i class="material-icons">
                        {# <a href="https://dataquality.threesixtygiving.org/?source_url={{ grant.file.url | urlencode }}" 
                           target="_blank"
                           title="View this file on the data quality tool"> #}
                          highlight_off
                        {# </a> #}
                      </i>
                    </td>
                    {% endif %}
                    <td class="registry-grant__license">
                      Licence 
                      <a href="{{grant.licence.url}}" target="_blank" title="{{grant.licence.name}}">
                      {% if grant.licence.name == "Creative Commons Attribution 4.0 International (CC BY 4.0)" %}
                        
                        <img class="license license--cc" src="{{ url_for('.static', filename='images/licenses/creative-commons-main.svg') }}" alt="{{grant.licence.name}}">
                      
                      {% elif grant.licence.name == "Creative Commons Attribution 4.0" %}
                        <img class="license license--cc" src="{{ url_for('.static', filename='images/licenses/creative-commons-main.svg') }}" alt="{{grant.licence.name}}">
                      
                      {% elif grant.licence.name == "Creative Commons Attribution Share-Alike 4.0" %}
                        <img class="license license--cc" src="{{ url_for('.static', filename='images/licenses/creative-commons-main.svg') }}" alt="{{grant.licence.name}}">
                        <img class="license license--cc" src="{{ url_for('.static', filename='images/licenses/Cc-sa.svg') }}" alt="{{grant.licence.name}}">
                      
                      {% elif grant.licence.name == "CCO" %}
                        <img class="license license--cc" src="{{ url_for('.static', filename='images/licenses/Cc-zero.svg') }}" alt="{{grant.licence.name}}">
                      
                      {% elif grant.licence.name == "Open Data Commons Public Domain Dedication and Licence 1.0" %}
                        <img class="license license--pddl" src="{{ url_for('.static', filename='images/licenses/pddl.svg') }}" alt="{{grant.licence.name}}">
                      
                      {% elif grant.licence.name == "Open Government Licence 3.0 (United Kingdom)" %}
                        <img class="license license--ogl" src="{{ url_for('.static', filename='images/licenses/UKOpenGovernmentLicence.svg') }}" alt="{{grant.licence.name}}">
                      {% endif %}
                      </a>
                    </td>
                  </tr> 
              </table>
            </li>
            {% for check in grant.quality_checks() %}
              {% if check.visible %}
              <li class="registry-card__item ">
                <div>
                  <h3 class="h3" style="
                    {% if check.valid=='info' %}
                    {% elif check.valid %}color:rgb(77, 172, 182);
                    {% else %}color:rgb(188, 44, 38);
                    {% endif %}">
                    <i class="material-icons">
                    {% if check.valid=='info' %}info
                    {% elif check.valid %}check_circle
                    {% else %}cancel
                    {% endif %}
                    </i>
                    {{ check.title }}
                  </h3>
                  <p>{{ check.description }}</p>
                </div>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </article>

    </li>
    {% endfor %} 

  </ul>
</div>

{% endblock %}